# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
*.log

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Environment
.env
.env.local
.env.*.local

# Temporary files
*.swp
*.swo
*~
.tmp/

# Testing
coverage/

